<!-- <div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Shop Infomation</h3>
            <p class="text-muted m-b-30 font-13"> Please provide the correct information about the shop.</p>
            <div id="shopinfo-wizard" class="wizard">
                <ul class="wizard-steps" role="tablist">
                    <li class="active col-md-4" role="tab">
                        <h4><span><i class="ti-user"></i></span>Shop Location</h4>
                    </li>
                    <li role="tab" class="col-md-4">
                        <h4><span><i class="ti-credit-card"></i></span>Shop Details</h4>
                    </li>
                    <li role="tab" class="col-md-4">
                        <h4><span><i class="ti-check"></i></span>Owner</h4>
                    </li>
                </ul>

                <div class="wizard-content active wizard-wrp">
                    <div class="wizard-pane" role="tabpanel">
                           <shop-location *ngIf="shopInfo != undefined"></shop-location>
                    </div>
                    <div class="wizard-pane " role="tabpanel">
                            <shop-details *ngIf="shopInfo != undefined"></shop-details>         
                    </div>
                    <div class="wizard-pane" role="tabpanel">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                        fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
                        skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                        gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork
                        biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl
                        craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>

                </div>
            </div>
        </div>
    </div> -->

    <router-outlet></router-outlet>
    