<!-- Preloader -->
<!-- ============================================================== -->
<div class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
  <app-header></app-header>
  <app-home-navi></app-home-navi>
  <!-- ============================================================== -->
  <!-- Page Content -->
  <!-- ============================================================== -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <app-sub-header></app-sub-header>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Page Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<app-slider></app-slider>