#bill-info .info-hd{
    vertical-align: bottom;
    border-bottom: 1px solid #e4e7ea;
    padding:15px 0px; 
    margin-bottom: 15px;
}

#bill-info .net-wrp{
    border-top: 1px solid #e4e7ea;
    margin-top: 10px;
    padding-top: 10px !important;
}