  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
      <div class="sidebar-head">
        <h3>
          <span class="fa-fw open-close">
            <i class="ti-close ti-menu"></i>
          </span>
          <span class="hide-menu">Navigation</span>
        </h3>
      </div>
      <div class="user-profile">
        <div class="dropdown user-pro-body">
          <div>
            <img src="./assets/plugins/images/users/varun.jpg" alt="user-img" class="img-circle">
          </div>
          <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Steave Gection
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu animated flipInY">
            <li>
              <a href="#">
                <i class="ti-user"></i> My Profile</a>
            </li>
            <li>
              <a href="#">
                <i class="ti-wallet"></i> My Balance</a>
            </li>
            <li>
              <a href="#">
                <i class="ti-email"></i> Inbox</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">
                <i class="ti-settings"></i> Account Setting</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="login.html">
                <i class="fa fa-power-off"></i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="nav" id="side-menu">
        <li>
          <a href="javascript:void(0);" class="waves-effect" [routerLink]="['/stocks']">
            <i class="mdi mdi-settings fa-fw"></i>
            <span class="hide-menu">Stocks</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="waves-effect" [routerLink]="['/product']">
            <i class="mdi mdi-settings fa-fw"></i>
            <span class="hide-menu">Products</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="waves-effect" [routerLink]="['/shopinfo']">
            <i class="mdi mdi-settings fa-fw"></i>
            <span class="hide-menu">Shop info</span>
          </a>
        </li>
        <li class="devider"></li>
        <li>
          <a href="login.html" class="waves-effect">
            <i class="mdi mdi-logout fa-fw"></i>
            <span class="hide-menu">Log out</span>
          </a>
        </li>     
      </ul>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Left Sidebar -->
  <!-- ============================================================== -->