<div class="col-md-8">
    <div class="row">
        <div class="white-box">
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="input-group">
                        <input id="example-input2-group1" [(ngModel)]="query" class="form-control" placeholder="Product Code / Name">
                        <span class="input-group-addon dropdown-toggle" (click)="eventSearch_click()" data-toggle="dropdown">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="billIDList.length > 0">
                <div *ngFor="let billID of billIDList">
                    <span>{{billID}}</span>
                </div>
            </ng-container>

        </div>
    </div>
</div>