<div class="row">
  <div class="white-box">
    <ul class="nav customtab nav-tabs" role="tablist">
      <li role="presentation" *ngFor="let settingTab of settingTabList">
        <a href="#{{settingTab._id}}" role="tab" data-toggle="tab" aria-expanded="false" (click)="eventTab_click(settingTab)">
          <span class="visible-xs">
            <i class="" [ngClass]="settingTab.cls"></i>
          </span>
          <span class="hidden-xs"> {{settingTab.nme}}</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
      <!-- <ng-container *ngFor="let settingTab of settingTabList">
        <div role="tabpanel" class="tab-pane fade" id="{{settingTab._id}}">
          {{settingTab.nme}}
        </div>
      </ng-container> -->
    </div>
  </div>
</div>